<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HackMatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7B3ED06D1D84D4A700C1BFCF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B3ED0811D84D4A700C1BFCF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B3ED08C1D84D4A700C1BFCF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
